@implements ISupportInvokeAsync
@inject SynchronizationContextHelper SynchronizationContextHelper

<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(DevExpress.ExpressApp.Blazor.BlazorApplication).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <LayoutView>
            <PageTitle>Not found</PageTitle>
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override void OnAfterRender(bool firstRender) {
        base.OnAfterRender(firstRender);
        if (firstRender) {
            SynchronizationContextHelper.Initialize(this);
        }
    }
    async Task ISupportInvokeAsync.InvokeAsync(Func<Task> action) {
        await InvokeAsync(action); // inherited from ComponentBase
    }
}